/ejercicio_clase/nbproject/private/
/ejercicio_clase/build/
/facturar_productos1/nbproject/private/
/facturar_productos1/build/
/clasificacion_Triangulo2/nbproject/private/
/clasificacion_Triangulo2/build/
/costo_Paquetes3/nbproject/private/
/costo_Paquetes3/build/
/monto_Factura/nbproject/private/
/mes_Nombre/nbproject/private/
/mes_Nombre/build/
/operacion_Matematica5/nbproject/private/
/operacion_Matematica5/build/
