/ejercicio_clase/nbproject/private/
/ejercicio_clase/build/
/facturar_productos1/nbproject/private/
/facturar_productos1/build/
/clasificacion_Triangulo2/nbproject/private/
/clasificacion_Triangulo2/build/
